body{
    font-family: 'Raleway', sans-serif;
    font-size:62.5%;
    width:100%;
    margin:0 auto;


    .big-container{
        margin: 0 auto;
        width:100%;
        background:red;
    

        .title-container{
            width:100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:0 8% 2%;
            background:yellow;
            height: 100vh;

            .home-image{
                background-image: url('https://github.com/haileyhansard/50-Influential-Artists/blob/master/assets/home.png?raw=true');
                background-size: cover;
                background-position: center;
                width: 85%;
                text-align: center;
                color: white;
                padding:0 5% 2%;
                height:90vh;
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items:center;
            
                h1{
                    font-size: 3rem;
                }

                button{
                    background-color:white;
                    color: @font-color;
                    font-size: 1.6rem;
                    padding: 12px 24px;
                    margin:1%;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        
            hr{
                width:90%;
                text-align:center;
            }
        
    }    

    .artists-container{
        display:flex;
        justify-content: center;
        justify-items: center;
        align-items: center;  //?
        margin: 0 auto;
        width:70%;
        background:lightblue;
       

        .artist{
            display:flex;
            flex-direction: column;
            width:48%;
            padding-top:4%;
            background: mistyrose;

            img{
                max-width:300px;
                max-height:300px;
            
                div a{
                    text-decoration: none;
                    font-size: 1.6rem;
                    text-align: center;
                }
            }
            .bio{
                text-align: center;
            }
        
        }
    }
}
} 