body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

.big-container{
    width: 800px;



.title-container{
    display:flex;
    width:100%;

    .home-image{
        width: 100%;
        height:auto;
        position: relative;
        text-align: center;
        color: white;
        
        h1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4rem;
        }

        button{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color:white;
            color: @font-color;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}    

.artists-container{
        display:flex;
        justify-content: space-evenly;
    }
}


